section {
  width: 100%;
  height: 620px;
  background-color: #ECECEC;
}

.container {
  margin: 0 auto;
}

.form-search {
  padding-top: 30px;
  display: flex;
  align-items: center;
}

.form-control {
  width: 90%;
  margin: 0 auto;
}


.search-icons {
  float: left;
  width: 35px;
  font-size: 30px;
}
